<div class="container-md">
  <div class="profile">
    <img
      class="profile__cover"
      src="https://images.unsplash.com/photo-1535443274868-756b0f070b6e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1000&q=80"
      alt=""
    />

    <img
      class="profile__avt"
      src="https://dyl80ryjxr1ke.cloudfront.net/external_assets/hero_examples/hair_beach_v1785392215/original.jpeg"
      alt=""
    />
  </div>
  <h1 class="profile__fullname">{{ profile.fullname }}</h1>
</div>
